@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<a href="https://dev-336370.okta.com/oauth2/v1/authorize?idp=0oafs6b2nrQSfzc5J356&client_id=0oafs295bKFu6DnuY356&response_type=code&response_mode=query&scope=openid&redirect_uri=
https://localhost:44361/authorization-code/callback&state=WM6D&nonce=YsG76jo">Log in to Google</a>
